.aboutpage {
  margin-left: 50px;
}

.maindescription {
}

.instructions-button {
  background-color: #006600;
  display: inline-block;
}

.instructions-button img {
  height: 24px;
  margin: 1px 2px 0px 2px;
}

.footerContainer {
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding-bottom: 90px;
  color:#5b5b5b;
}

.copyright {
  display: inline-block;
  float: left;
}

.contact {
  display: inline-block;
  float: right;
}
