.frontlogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginstatusindex {
  color: #fff;
}

.indextogglein {
display: none;
visibility: hidden;
}

.indextoggleout {
  display:block;
  visibility: visible;
}

#welcomeback {
font-size: 2em;
font-family: 'Lato', sans-serif;
font-weight: 800;
color: #fff;
-webkit-filter: drop-shadow(3px 3px 3px #494848);
filter: drop-shadow(3px 3px 3px #494848);
}

#personalizeindex {
  font-size: 1em;
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}

a.logoutindex {
  color: #fff;
}

.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.bgimg {
  background-image: url("../../images/photos/bg-bag.jpg")
}

.logo {
  -webkit-filter: drop-shadow(3px 3px 3px #494848);
  filter: drop-shadow(3px 3px 3px #494848);
  max-width: 80%;
  margin-top: 20px;
}

.form-holder .form-content {
  position: fixed;
  text-align: center;
  bottom: 75px;
  width: 100%;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  -webkit-filter: drop-shadow(1px 1px 1px #2d2727);
  filter: drop-shadow(1px 1px 1px #2d2727);
  padding: 10px;
}

.tagline {
  color: #fff;
  text-align: left;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,.6);
}

.form-content input {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 14px;
  vertical-align: middle;
  line-height: 1.5;
}

.ibtn {
  border-radius: 6px;
  border: 0;
  padding: 6px 28px;
  background-color: #006600;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button a {
  font-size: 1em;
    /* font-weight: 600; */
  color: #920000;
  text-decoration: underline;
}

.register-link {
  color: #920000;
}
